<div class="body h-full">
    <div class="login" alt="">


        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <div class="">
                <img src="../../../assets/images/sign-up.jpg" width="40%">
                <h1 style="font-weight: bolder;">
                    Signup Form
                </h1>

            </div>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="">Enter your name</mat-label>
                <input class="no-focus-ring" type="text" matInput autocomplete="off" formControlName="name">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="">Enter your username</mat-label>
                <input class="no-focus-ring" type="text" matInput autocomplete="off" formControlName="username">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="">Enter your Password</mat-label>
                <input class="no-focus-ring" [type]="hide ? 'password' : 'text'" type="password" matInput
                    autocomplete="off" formControlName="password">
                <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            </mat-form-field>
            <button class="button" type="submit" mat-raised-button mat-button color="primary">Submit</button>
            <p>Already have an account <a [routerLink]="['/auth/login']">Login</a></p>
        </form>
    </div>


</div>